br
.container-fluid
  .row
    - for(let i = 0 ; i < scenes.length; i++)
      - if(scenes[i].hidden) continue
      .col-md-2.col-sm-4.col-6
        .dmx-scene-trigger-container
          button.btn-block.btn.btn-lg.btn-secondary.dmx-scene-trigger.dmx-scene-trigger-control(scene_id=scenes[i].id)=scenes[i].label